/* =========================================================================  */
/* Webfonts */
/* =========================================================================  */

/*
 * This CSS resource incorporates links to font software which is the valuable
 * copyrighted property of Monotype and/or its suppliers. You may not attempt to copy,
 * install, redistribute, convert, modify or reverse engineer this font software.
 * Please contact Monotype with any questions regarding Web Fonts: http://www.fontshop.com
 */
@font-face {
    font-family: 'Aaux';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/dist/fonts/aaux-regular/c899fe09-58db-40b5-9558-772e7a94bee4.woff2') format('woff2'),
         url('/assets/dist/fonts/aaux-regular/0103fb11-f926-460f-87ec-7268a62a81f8.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Aaux';
    font-style: italic;
    font-weight: normal;
    src: url('/assets/dist/fonts/aaux-italic/5493afd0-31ab-41ff-9bf9-5933578c78af.woff2') format('woff2'),
         url('/assets/dist/fonts/aaux-italic/d15814c7-c280-4bc0-a699-352c84e105c9.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Arobase';
    src: local('Helvetica');
    unicode-range: U+0040;
}

/* =========================================================================  */
/* Base typography */
/* =========================================================================  */

/**
 * 1. Resets the REM units to a 10px based size.
 * 2. Prevents IE and Edge to compile it, as they don’t manage well `calc(62.5%)`.
 */
 html {
    font-size: 62.5%;

    @supports (background-blend-mode: multiply) { /* [1] */
        @include media-query( 'xxl' ) {
            font-size: calc(62.5% + .2vw);
        }
    }
}

body {
    // @include font-family($main-font-type);
    // @include font($main-font-map-key);

    // @include media-query( 'm' ) {
    //     background-color: blue;
    // }
}

/* =========================================================================  */
/* Base typography */
/* =========================================================================  */

.type-style-1 {

}

// 'small': (
//         'font-size': (
//             'main': 1.6rem
//         ),
//         'line-height': (
//             'main': (23/16)
//         )
//     ),

//     'body-sans': (
//         'font-size': (
//             'main': 1.9rem,
//             'm': 2rem
//         ),
//         'line-height': (
//             'main': (26/20)
//         )
//     ),

//     'body-serif': (
//         'font-size': (
//             'main': 2rem
//         ),
//         'line-height': (
//             'main': (26/20)
//         )
//     ),

//     'medium': (
//         'font-size': (
//             'main': 2.4rem
//         ),
//         'line-height': (
//             'main': (26/20)
//         )
//     ),

//     'large': (
//         'font-size': (
//             'main': 2.8rem,
//             'm': 4.6rem
//         ),
//         'line-height': (
//             'main': (58/46)
//         )
//     ),

//     'big': (
//         'font-size': (
//             'main': 3.8rem,
//             'm': 5.8rem
//         ),
//         'line-height': (
//             'main': (64/58)
//         )
//     ),

//     'huge': (
//         'font-size': (
//             'main': 6.2rem,
//             'm': 10.8rem
//         ),
//         'line-height': (
//             'main': (134/108)
//         )
//     )