:root {
    --black: #1A1A1A;
    --light-grey: #f9f9f9;
    --grey: #F6F6F6;
    --medium-grey: #F4F2F2;
    --dark-grey: #959595;

    /* Light theme */
    --light-theme-text-color: var(--black);
    --light-theme-background-color: var(--grey);
    --light-theme-darker-background-color: var(--medium-grey);
    --light-theme-lighter-background-color: var(--light-grey);
    --light-theme-outset-shadow: 0 .2rem 2rem .1rem rgba(0, 0, 0, .05);
    --light-theme-inset-shadow: inset 0 0 2rem .4rem rgba(0, 0, 0, .05);

    /* Dark theme */
    --dark-theme-text-color: var(--grey);
    --dark-theme-background-color: var(--black);
    --dark-theme-darker-background-color: var(--black);
    --dark-theme-lighter-background-color: var(--black);
    --dark-theme-outset-shadow: 0 .2rem 2rem .1rem rgba(255, 255, 255, .05);
    --dark-theme-inset-shadow: inset 0 0 2rem .4rem rgba(255, 255, 255, .05);

    /* Selected theme */
    --text-color: var(--light-theme-text-color);
    --background-color: var(--light-theme-background-color);
    --darker-background-color: var(--light-theme-darker-background-color);
    --lighter-background-color: var(--light-theme-lighter-background-color);
    --outset-shadow: var(--light-theme-outset-shadow);
    --inset-shadow: var(--light-theme-inset-shadow);

    /* Inverted theme */
    --inverted-text-color: var(--dark-theme-text-color);
    --inverted-background-color: var(--dark-theme-background-color);
    --inverted-darker-background-color: var(--dark-theme-darker-background-color);
    --inverted-lighter-background-color: var(--dark-theme-lighter-background-color);
    --inverted-outset-shadow: var(--dark-theme-outset-shadow);
    --inverted-inset-shadow: var(--dark-theme-inset-shadow);
}

html {
    color: var(--text-color);
    background-color: var(--background-color);
}

/* ========================================================================= */
/* Generic classes */
/* ========================================================================= */

/**
 * Inverted colors
 */
.default-text-color {
    color: var(--text-color);
}

.default-background-color {
    background-color: var(--background-color);
}

.darker-background-color {
    background-color: var(--darker-background-color);
}

.lighter-background-color {
    background-color: var(--lighter-background-color);
}

/**
 * Inverted colors
 */
.inverted-text-color {
    color: var(--inverted-text-color);
}

.inverted-background-color {
    background-color: var(--inverted-background-color);
}

.inverted-darker-background-color {
    background-color: var(--inverted-darker-background-color);
}

.inverted-lighter-background-color {
    background-color: var(--inverted-lighter-background-color);
}