.container {
    height: 100%;
    padding: 3.6rem 2.4rem;
}

.surtitle {
    margin-bottom: 1.6rem;
}

.text {
    max-width: 56rem;
    margin-bottom: .8rem;
}

.description {
    max-width: 36rem;
}

.action {
    margin-top: 1.6rem;
}

/* ========================================================================= */
/* From tablet */
/* ========================================================================= */

@include media-query('s') {
    .container {
        padding: 4rem;
    }
}

/* ========================================================================= */
/* From laptop */
/* ========================================================================= */

@include media-query('m') {
    .description {
        margin-top: .8rem;
    }

    .twitterAction {
        margin-top: .8rem;
    }
}