/**
 * main: 0px
 * xs: 496px
 * s: 704px
 * m: 960px
 * l: 1104px
 * xl: 1408px
 * xxl: 1600px
 */
$layouts-config: (
    main: 0,
    xs: 31em,
    s: 44em,
    m: 60em,
    l: 69em,
    xl: 88em,
    xxl: 100em
);

$layouts-name: map-keys($layouts-config);
$layouts-break-point: map-values($layouts-config);